body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
    margin: 0%;
    text-align: center;
}

#head-line {
    padding-top: 500px;
    background-repeat: no-repeat;
}

.starting {
    font-size: 40px;
    color: aliceblue;
    background-image: url(images/top-banner-2.jpg);
    height: 800px;
}

.donation-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 5px 10px;
    color: aliceblue;
    font-weight: 400;
    border-radius: 15px;

}

.top {
    font-size: 10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
}

.payment-area {
    text-align: center;
    font-size: 50px;
}

small {
    font-size: 20px;
}

span {
    padding: 10px 10px;
    background-color: orange;
    box-shadow: 5px 5px 5px gray;
    border: 5px solid orangered;
}

input {

    width: 20%;
    height: 50px;
    margin-bottom: 10px;
}

.donate-now {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 0px 5px;
    color: aliceblue;
    border-radius: 15px;
    margin-top: 10%;
}

h1 {
    font-size: 60px;
}

.img-resize {
    width: 60px;
    height: 60px;
}

.flexible-container {
    display: flex;
    margin-top: 90px;
    margin-left: 2.5%;


}

.food {
    width: 30%;
    text-align: justify;
    margin-right: 2%;
    background-color: rgba(0, 255, 255, 0.253);
    padding: 10px 10px;
    border-radius: 5px;
}

.medicine {
    width: 30%;
    text-align: justify;
    margin-right: 2%;
    background-color: rgba(255, 235, 205, 0.623);
    padding: 10px 10px;
    border-radius: 5px;
}

.education {
    width: 30%;
    text-align: justify;
    margin-right: 2%;
    background-color: rgba(165, 42, 42, 0.212);
    padding: 10px 10px;
    border-radius: 5px;
}

.flexible {
    display: flex;
    margin-top: 100px;
    margin: 5% 5%;
    text-align: justify;
}

.text {
    padding-right: 20px;
}

.resize {
    width: 500px;
    height: 100%;
}

.update {
    margin-bottom: 80px;
}

label {
    background-color: rgba(255, 228, 196, 0.377);
    padding: 50px 100px 49px 100px;
    border-radius: 10px;
}

.input-box {
    border: none;
    width: 400px;
    padding: 10px;
}

button {
    background-image: linear-gradient(orange, tomato);
    font-size: 18px;
    border: none;
    padding: 19px;
}

footer {
    margin-top: 50px;
    background-color: rgba(0, 0, 255, 0.562);
    padding: 50px;
}